.voting-body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #8a2be2, #6C3483);
    color: white;
    font-family: Arial, sans-serif;
    position: relative;
}

.voting-container {
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.voting-buttons {
    margin-bottom: 20px;
}

.vote-btn {
    padding: 20px 40px;
    font-size: 1.5em;
    background-color: #7631b4;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.3s, border-color 0.3s;
    margin: 0 10px;
}

.vote-btn.red {
    border-color: #FF5733;
}

.vote-btn.blue {
    border-color: #33B5E5;
}

.vote-btn:hover {
    background-color: white;
    color: #6C3483;
}

.vote-btn.red.active {
    background-color: white;
    color: black;
}

.vote-btn.blue.active {
    background-color: white;
    color: black;
}

.vote-results {
    display: flex;
    text-align: center;
    margin-bottom: 20px;
}

.vote-result {
    height: 30px;
    margin: 0 5px;
    border-radius: 5px;
}

.red-votes {
    width: 70%;
    background-color: #FF5733;
}

.blue-votes {
    width: 30%;
    background-color: #33B5E5;
}

.voting-info,
.disclaimer {
    font-size: 0.9em;
    color: #ccc;
}

.continue-link {
    font-size: 0.8em;
    color: #ccc;
    text-decoration: underline;
    cursor: pointer;
}

.continue-link:hover {
    color: #fff;
}

.disclaimer {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}